.circle {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #ff1d58;
    position: absolute;
    pointer-events: none;
}

main {
    display: flex;
    max-height: 84vh;
}

.map {
    max-height: 84vh;
}

#info { 
    flex: 1;
    display: flex;
    flex-direction: column;
}

.uflist {
    overflow-y: scroll; 
    flex: 1;
}

.imwrapper {
    position: relative;
}